guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.xtc
*.offsets
*.cpt
log*.*
!logo.png
.ipynb_checkpoints/
biobb_wf_md_setup/notebooks/*.png
biobb_wf_md_setup/notebooks/*.gif
biobb_wf_md_setup/notebooks/*.web.ipynb
biobb_wf_md_setup/notebooks/*.docs.ipynb
biobb_wf_md_setup/docs/notebooks
biobb_wf_md_setup/html/biobb_MDsetup_tutorial.web.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#
.DS_Store